*{
    margin: 0; padding: 0;
}
body{
    background: #f3f3f3;
}
.control{
    width: 340px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.item{
    width: 340px;
    height: 60px;
    background: #eeeeee;
}
.item div{
    width: 170px;
    height: 60px;
    display: inline-block;
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    float: left;
}
.content{
    width: 100%;
}
.content div{
    margin: 20px 30px;
    text-align: left;
    display: none;
}
.content div p{
    color: #4a4a4a;
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 15px;
}
.content input[type='text'], .content input[type='password']{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    border: 1px solid #adadad;
    box-sizing: border-box;
}
.content input[type='submit']{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #adadad;
    color: white;
    background: #00dd60;
    cursor: pointer;
    letter-spacing: 4px;
    margin-bottom: 40px;
}
.active{
    background: white;
}
.item div:hover{
    background: #f6f6f6;
}